<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Next Word Prediction 1</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/style1.css">
    </head>
    <body>
        <!-- background --> 
        <div class="gray-block"></div>
        <!-- title -->
        <div id="tc" class="title-container">
        <h1>Next Word Prediction</h1>
        <!-- <h2>For a better, healthier future.</h2> -->
        </div>
        <!-- main container -->
        <div id="c" class="container">
        <!-- image -->
        <div class="image-container">
            <img src="http://res.cloudinary.com/oscartbeamish/image/upload/v1504172576/14bc155f03a9be4e10c0bd6d34067f6e_ng1urv.jpg">
            <!-- <img src="https://thiloshon.files.wordpress.com/2018/02/natural_language_processing_nlp.jpg"> -->
            <!-- <img src="/static/image.jpg"> -->
        </div>
        <!-- text -->
        <div class="text-container">
            <!-- name input -->
            <!-- <input type="text" name="name" placeholder="Name" /><br/> -->
            <!-- email input -->
            <!-- <input  type="email" name="email" placeholder="Email" /><br/> -->
            <!-- message input -->
            <textarea type="text" name="message" placeholder="Enter Sequence of words:"></textarea><br/>
            <!-- sent -->
            <!-- <div class="message">Message Sent</div> -->
            <div class="button">
            <!-- button -->
            <button id="submit" type="submit">Predict</button>
            </div>
        </div>
        </div>
    </body>
</html>